{% extends 'base.html' %}
{% load static %}


{% block data %}
    <h1 class="text-center">ADD BOOK DETAILS</h1>
    <div class="container bg-light p-3">
<form  method="POST" action="/addbook">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Book Name: </label>
        <input type="text" name="bname" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Author Name: </label>
        <input type="text" name="aname" class="form-control" />
    </div>
        
    <div class="mb-3">
        <label for="">Book Description: </label>
        <textarea class="form-control" name="bdesc"></textarea>
      </div>
    <div class="mb-3">
        <label for="">Book Price: </label>
        <input type="number" class="form-control" name="bprice" placeholder="Amount in ₹"/>
    </div>

    <div class="p-3">
        <input class="btn btn-primary" type="submit" name="send" value="ADD BOOK">
    </div>
    
</form>
</div>



{% endblock data %}