{% extends 'base.html' %}

{% load static %}

{% block data %}
    <h1 class="text-center">FEATURED BOOKS</h1>
<div class="container bg-light mt-4">
    <div class="row">
        {% for d in data %}
        <div class="col-sm-4 mb-4 mt-3">
        <div class="card" style="width: 16rem; height: 600px;" >        
            <img src="{% static 'images/book_cover.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{d.bname}}</h5>
            <h6 class="card-title">{{d.aname}}</h6>
            <p class="card-text">{{d.bdesc}}</p>
            <p class="card-text">₹{{d.bprice}}</p>
            <a href="#" class="btn btn-primary">BUY</a>
        </div>
        </div>
    </div>
        {% endfor %}    
    </div>
</div>


<p class="add-button m-4"><a type="button" class="btn btn-primary" href="/">Back to HomePage</a></p>
{% endblock data %}