h1{
    color: white;
}
.add-button{
    display: flex;
    justify-content: center;
}

body{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



  